.register {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register_form {
    color: black;
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.register_form h1 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.register_form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.register_form form .register_username {
    width: 100%;
    display: flex;
    justify-content: center;
}

.register_form form .register_email {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.register_form form .register_password {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.register_form form .register_confirm_password {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.register_form form .register_username input {
    width: 50%;
    border: none;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 6px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(78, 78, 95, 0);
    color: black;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.register_form form .register_username input:focus {
    border-bottom: 2px solid rgb(13, 172, 119);
    color: rgb(13, 172, 119);
}

.register_form form .register_username input:focus::placeholder {
    color: transparent;
}

.register_form form .register_email input {
    width: 50%;
    border: none;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 6px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(78, 78, 95, 0);
    color: black;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.register_form form .register_email input:focus {
    border-bottom: 2px solid rgb(13, 172, 119);
    color: rgb(13, 172, 119);
}

.register_form form .register_email input:focus::placeholder {
    color: transparent;
}

.register_form form .register_password input {
    width: 50%;
    border: none;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 6px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(78, 78, 95, 0);
    color: black;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.register_form form .register_password input:focus {
    border-bottom: 2px solid rgb(13, 172, 119);
    color: rgb(13, 172, 119);
}

.register_form form .register_password input:focus::placeholder {
    color: transparent;
}

.register_form form .register_confirm_password input {
    width: 50%;
    border: none;
    margin: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 6px;
    font-size: 1rem;
    text-align: center;
    background-color: rgba(78, 78, 95, 0);
    color: black;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}

.register_form form .register_confirm_password input:focus {
    border-bottom: 2px solid rgb(13, 172, 119);
    color: rgb(13, 172, 119);
}

.register_form form .register_confirm_password input:focus::placeholder {
    color: transparent;
}

.register_form form .register_submit_button {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.register_form form .register_submit_button button {
    width: 12%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.register_form form .register_submit_button button:hover {
    cursor: pointer;
    transition: ease-in-out 0.2s;
    background-color: black;
    color: white;
}

.error-message {
    color: red;
}

.alert_message_success {
    width: 100%;
    background-color: green;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bolder;
}

.alert_message_failure {
    width: 100%;
    background-color: red;
    color: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: bolder;
}